/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "functions";
//background image
html {
  background: url(bg-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-bar-opacity {
  opacity: .7;
}

.box {
  background: #B4C3A1 !important;
  opacity: .7;
}

.button {
  border-radius: 50px;
}
.button:hover {
  padding: 1px 10px;
  border: 5px solid white;
  transition: border 0.9s ease;

}

a:hover {
  color: black;
}

.icon:hover {
  transform: scale(2);
}
.container {
  font-family: 'Fira Mono', monospace;
}

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.input {
font-family: 'Fira Mono', monospace;
font-size: 1rem;
font-weight: 700;
padding: 1rem;
background: #B4C3A1;
opacity: .6;
}

.textarea {
  height: 250px;
  font-family: 'Fira Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  background: #B4C3A1;
  opacity: .6;
}

.discussion-title {
  margin-bottom: 0;
}

.reply-margin {
  margin-top: 20px;
}

.edit-delete-icons {
  margin: 5px;
  padding-top: 10px;
}
